body {
  background-color: #F0F0F1;
  background-image: url('https://example.com/background.jpg');
  background-size: cover;
  background-position: center;
  padding-top: 10px; 
  font-family: Lato, sans-serif;
  letter-spacing: 2px;
  line-height: 26px;
}
#header{
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom:20px;
    background-color: #221C26 ;
    color: #F0F0F1;
    text-align: center;

}

  .textSpace {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .ribbon {
    background-color: #221C26;
    padding: 6px;
    color: #F0F0F1;
  }
  #bar {
    background-color: #221C26;
    color: #F0F0F1;
    padding: 10px;
  }
